.columns-highlight-container {
  max-width: unset !important;
  padding: 0 !important;
}

.columns-highlight-container .columns-highlight-wrapper {
  max-width: unset;
  padding: 0;
}

.columns-highlight > div {
  display: flex;
  flex-direction: column;
  background-color: var(--light-color);
}

.columns-highlight .columns-highlight-img-col {
  min-height: 250px;
  overflow: hidden;
}

.columns-highlight .columns-highlight-img-col picture,
.columns-highlight .columns-highlight-img-col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.columns-highlight .columns-highlight-text-col {
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.columns-highlight h1,
.columns-highlight h2 {
  font-size: var(--heading-font-size-xl);
  color: var(--heading-color);
  margin-top: 0;
}

.columns-highlight p {
  line-height: 1.5;
}

.columns-highlight ul {
  padding-left: 20px;
}

.columns-highlight li {
  margin-bottom: 8px;
  line-height: 1.5;
}

@media (width >= 900px) {
  .columns-highlight > div {
    flex-direction: row;
    min-height: 400px;
  }

  .columns-highlight .columns-highlight-img-col {
    flex: 1;
    min-height: unset;
  }

  .columns-highlight .columns-highlight-text-col {
    flex: 1;
    padding: 60px 48px;
    max-width: 50%;
  }
}
