.columns-highlight-container {
  max-width: unset !important;
  padding: 0 !important;
}

.columns-highlight-container .columns-highlight-wrapper {
  max-width: unset;
  padding: 0;
}

.columns-highlight > div {
  display: flex;
  flex-direction: row;
  background-color: #fff;
}

.columns-highlight .columns-highlight-img-col {
  flex: 0 0 50%;
  overflow: hidden;
  display: none;
}

.columns-highlight .columns-highlight-img-col picture,
.columns-highlight .columns-highlight-img-col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.columns-highlight .columns-highlight-text-col {
  flex: 1;
  padding: 60px 48px;
  max-width: 800px;
  margin: 0 auto;
}

.columns-highlight h1 {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-xxl);
  font-weight: 700;
  color: var(--heading-color);
  line-height: 1.2;
  margin-top: 0;
}

.columns-highlight p {
  font-size: var(--body-font-size-m);
  line-height: 1.5;
  color: var(--heading-color);
  font-weight: 700;
}

.columns-highlight ul {
  padding-left: 24px;
}

.columns-highlight li {
  margin-bottom: 12px;
  line-height: 1.5;
  font-size: var(--body-font-size-m);
  color: var(--text-color);
  font-weight: 400;
}

.columns-highlight li strong {
  color: var(--text-color);
}

@media (width >= 900px) {
  .columns-highlight .columns-highlight-img-col {
    display: block;
  }

  .columns-highlight .columns-highlight-text-col {
    flex: 0 0 50%;
    padding: 80px 60px;
  }
}
