.columns-featured > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.columns-featured > div > div:first-child picture,
.columns-featured > div > div:first-child img {
  width: 100%;
  height: auto;
  display: block;
}

.columns-featured > div > div:last-child h2 {
  font-size: var(--heading-font-size-xl);
  color: var(--heading-color);
  margin-top: 0;
  line-height: 1.3;
}

.columns-featured > div > div:last-child p {
  line-height: 1.5;
}

@media (width >= 900px) {
  .columns-featured > div {
    flex-direction: row;
    align-items: center;
    gap: 48px;
  }

  .columns-featured > div > div {
    flex: 1;
  }
}
